@model ExampleSite.Models.BasketViewModel


<form asp-controller="Checkout" asp-action="Index" method="post" asp-antiforgery="false">

    <h2>Product </h2>
    <table>
        <tr>
            <td><label asp-for="Item.ID" /></td>
            <td>@Model.Item.ID.ToString("N")</td>
        </tr>
        <tr>
            <td><label asp-for="Item.Name" /></td>
            <td>@Model.Item.Name</td>
        </tr>
        <tr>
            <td><label asp-for="Item.Description" /></td>
            <td>@Model.Item.Description</td>
        </tr>
        <tr>
            <td><label asp-for="Item.Unit" /></td>
            <td>@Model.Item.Unit</td>
        </tr>
        <tr>
            <td><label asp-for="Item.Price" /></td>
            <td>@Model.Item.Price</td>
        </tr>
        <tr>
            <td><label asp-for="Item.Currency" /></td>
            <td>@Model.Item.Currency</td>
        </tr>
        <tr>
            <td><label asp-for="Quantity" /></td>
            <td><input asp-for="Quantity" /></td>
        </tr>
    </table>

    <button type="submit">
    Go to checkout
    </button>
</form>